<p style="color: orangered; font-size:50px">¨Página no encontrada."</p>

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("404 - No se encontro la PAgina desde Custom_Not_Found");
    }

}